APP_ENV=development
LOG_LEVEL=INFO

LOCAL_DATA_DIR=./var/data
LOCAL_SQLITE_PATH=./var/data/backup_state.sqlite3
LOCAL_CACHE_DIR=./var/cache

CLOUD_API_BASE_URL=http://127.0.0.1:8080
CLOUD_API_ADDR=:8080
CLOUD_API_TOKEN=replace-with-dev-token

POSTGRES_DSN=postgres://auto_backup_user:replace-with-secure-password@127.0.0.1:5432/auto_backup_bdnetdesk?sslmode=disable
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=auto_backup_bdnetdesk
POSTGRES_USER=auto_backup_user
POSTGRES_PASSWORD=replace-with-secure-password
POSTGRES_SSLMODE=disable

BAIDU_APP_KEY=replace-with-baidu-app-key
BAIDU_APP_SECRET=replace-with-baidu-app-secret
BAIDU_REDIRECT_URI=http://127.0.0.1:8765/oauth/callback

SECRETS_STORAGE=windows-dpapi
