APP_ENV=production
LOG_LEVEL=INFO

CLOUD_API_ADDR=127.0.0.1:8080
PUBLIC_BASE_URL=https://backup.baichengedu.com

POSTGRES_DSN=postgres://auto_backup_user:replace-with-secure-password@127.0.0.1:5432/auto_backup_bdnetdesk?sslmode=disable
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=auto_backup_bdnetdesk
POSTGRES_USER=auto_backup_user
POSTGRES_PASSWORD=replace-with-secure-password
POSTGRES_SSLMODE=disable

BAIDU_APP_KEY=replace-with-baidu-app-key
BAIDU_APP_SECRET=replace-with-baidu-app-secret
BAIDU_SCOPE=basic,netdisk
BAIDU_REDIRECT_URI=https://backup.baichengedu.com/v1/baidu/oauth/callback
BAIDU_AUTHORIZE_URL=https://openapi.baidu.com/oauth/2.0/authorize
BAIDU_DEVICE_CODE_URL=https://openapi.baidu.com/oauth/2.0/device/code
BAIDU_TOKEN_URL=https://openapi.baidu.com/oauth/2.0/token
BAIDU_USERINFO_URL=https://pan.baidu.com/rest/2.0/xpan/nas?method=uinfo
BAIDU_DEVICE_VERIFICATION_URL=https://openapi.baidu.com/device
